<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/CSS/login.css" />

<body>
  <form class="login_container" action="/resto/login" method="POST">
    <div class="login_frame">
      <div class="login_top">
        <span>saytga kirish</span>
        <div>
          bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          ro'yhatdan o'tmagansiz?
          <a href="/resto/signup" style="color: #6440fb">ro'yhatdan o'tish</a>
        </p>
      </div>

      <div class="login_input_frame">
        <div class="login_input_container">
          <label>foydalanuvchinig ismi:</label>
          <input
            type="text"
            name="mb_nick"
            placeholder="foydalanuvchining ismi"
            value=""
            required
          />
        </div>
        <div class="login_input_container">
          <label>password kiriting:</label>
          <input
            type="password"
            name="mb_password"
            placeholder="Password"
            value=""
            required
          />
        </div>
      </div>
      <button class="login_btn btn" name="login" type="submit">kirish</button>
    </div>
  </form>
</body>
<%-include('includes/footer')%>
