<%-include('includes/header')%>

<link rel="stylesheet" type="text/css" href="/CSS/login.css" />
<body>
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/resto/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>ro'yhatdan o'tish</span>
        <div>
          bosh sahifaga qaytish <a href="/resto" style="color: #6440fb">Home</a>
        </div>
        <p>
          ro'yhatdan o'tganmisiz?
          <a href="/resto/login" style="color: #6440fb">login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">foydalanuvchining ismi</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="foydalanuvchining ismi"
            value=""
            required
          />
        </div>

        <div class="sign_up_frame">
          <label for="">telefon raqam</label>
          <input
            type="number"
            name="mb_phone"
            class="mb_phone"
            placeholder="telefon number"
            value=""
            required
          />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="passwordni  kiriting"
            value=""
            required
          />
        </div>

        <div class="sign_up_frame">
          <label for="">passwordni tasdiqlash</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="passwordni tasdiqlash"
            value=""
            required
          />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img class="upload_img_frame" src="/images/default.jpeg" />
          <div class="upload_container">
            <span class="media_text">taom rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="rasmni tanlang"
                disabled="disabled"
              />
              <label for="input_file"> rasm yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              oshxona rasmingizni bu yerga yuklang. <br />Muhim ko'rsatmalar:
              .jpg, jpeg, yoki .png <br />rasmda matn yo'q bo'lishi kerak
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn btn" name="signup" type="submit">
        ro'yhatdan o'tish
      </button>
    </div>
  </form>
</body>

<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        const fileType = uploading_file["type"];
        const validImagesTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImagesTypes.includes(fileType)) {
          alert(
            "iltimos ruhsat etilgan formatdagi rasmlarni yuklang:jpg,png,jpeg"
          );
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("succes");
          }
          filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload-name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;
    console.log(restaurant_img);
    if (
      mb_nick == "" ||
      mb_password == "" ||
      mb_phone == "" ||
      mb_confirm_password == ""
    ) {
      alert("iltimos hamma  ma'lumotlarni kiriting");
      return false;
    } else if (mb_password !== mb_confirm_password) {
      alert(`iltimos passwordni to'g'ri kiriting`);
    }
    if (!restaurant_img) {
      alert("iltimos rasm yuklang!");
      return false;
    }

    return true;
  }
</script>
<%-include('includes/footer')%>
